---
import FediverseAccounts from '../utils/FediverseAccounts'
import type LayoutProps from '../layoutProps'
import generateOgpMeta from '../utils/generateOgpMeta'

export interface Props extends LayoutProps {}

const siteName = 'Kuropen.org' as const

const { title, og } = Astro.props

const activeFediverseAccounts = FediverseAccounts.getAccounts({isActive: true})

const ogpMeta = og ? generateOgpMeta({
	...og,
	title: og.title || title || siteName,
	siteName: siteName,
	url: og.url || Astro.url.toString(),
}) : undefined
---

<!DOCTYPE html>
<html lang="ja">
	<head prefix="og:http://ogp.me/ns#">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} - ${siteName}` : siteName}</title>
		{activeFediverseAccounts.map(({linkTo}) => (<link rel="me" href={linkTo} />))}
		{ogpMeta?.map(({property, content}) => (<meta property={property} content={content} />))}
	</head>
	<body>
		<div class="container mx-auto">
			<slot />
			<footer class="p-4 mt-4 text-center">
				<p class="text-sm">
					Copyright &copy; 2018-2023 Kuropen. <br />
					Powered by <a href="https://astro.build/">Astro</a>, <a href="https://tailwindcss.com/">Tailwind CSS</a>,
					<a href="https://heroicons.com/">Heroicons</a>, <a href="https://simpleicons.org/">Simple Icons</a>.
				</p>
				<nav class="text-sm mt-1">
					<ul class="grid grid-cols-2 w-fit mx-auto">
						<li class="border-r border-gray-400"><a href="/legal" class="underline">著作権に関する表示</a></li>
						<li class="pl-2"><a href="/privacy" class="underline">プライバシーポリシー</a></li>
					</ul>
				</nav>
			</footer>
		</div>
	</body>
</html>
<style is:global>
	@import url(https://fonts.bunny.net/css?family=orbitron:700);
	:root {
		font-family: 'Helvetica Neue', 'Segoe UI', 'Hiragino Sans', 'Meiryo', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	}
	.orbitron {
		font-family: 'Orbitron', sans-serif;
	}
	.max-w-prose {
		max-width: 65ch;
	}
</style>
