---
import type { WhatsNewContent } from '../../../../packages/kporg-types'
import {format} from 'date-fns'

export type Props = {
    articles: WhatsNewContent[]
}

const articlesList = Astro.props.articles
---
{
    articlesList.map((article) => {
        const targetUrl = article.source === 'PGN-CMS' ? `/pgn-archives/${article.url}` : article.url
        const targetWindow = article.source === 'PGN-CMS' ? '_self' : '_blank'
        const articleDate = article.date ? new Date(article.date) : new Date()
        return (
            <li>
                <a href={targetUrl} target={targetWindow} class="block border rounded-lg shadow-lg p-4 hover:bg-indigo-200">
                    <p class="text-lg">{article.title}</p>
                    <aside>
                        <ul>
                            <li>{format(articleDate, 'yyyy/MM/dd')}</li>
                            {
                                article.source !== 'PGN-CMS' ? (
                                    <li>{article.source}に投稿</li>
                                ) : (<></>)
                            }
                        </ul>
                    </aside>
                </a>
            </li>
        )
    })
}
